.projects{
  height: 90vh;
  background-color: #053058;
}
.project-last{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.project-last a{
  margin-top: 20px;
  color: #555;
  font-size: .9rem;
  transition: .4s;
}

.project-last a:hover{
  color: #fff;
}

a{
  text-align: center;
}
video{
  width: 50%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: .5s;
}
video:hover{
  opacity: .5;
  width: 48%;
}

.projects-total{
  text-align: center;
  margin-top: .2rem;
}
.projects-total a{
  color: #FFF;
}
.projects-total p{
  color: #999
}

@media screen and (max-width: 992px) {
  video{
    width: 70%;
  }
  video:hover{
    width: 72%;
    opacity: 1;
  }
  .projects-total{
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  video{
    width: 90%;
  }
  video:hover{
    width: 92%;
    opacity: 1;
  }
  .projects-total{
    margin-top: 3rem;
  }
}

@media screen and (max-width: 576px) {
  video{
    width: 90%;
  }
  .projects{
    height: 70vh;
  }
}

@media screen and (max-width: 375px) { 
  .projects-total{
    margin-top: 0;
  }
}

