.projects{
  height: 90vh;
}
.project-last{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
a{
  text-align: center;
}
video{
  width: 50%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: .5s;
}
video:hover{
  opacity: .5;
  width: 48%;
}

.projects-total{
  text-align: center;
  margin-top: 3rem;
}
.projects-total a{
  color: #FFF;
}
.projects-total p{
  color: #999;

}

@media screen and (max-width: 992px) {
  video{
    width: 80%;
  }
  video:hover{
    width: 80%;
    opacity: 1;
  }
}
@media screen and (max-width: 576px) {
  video{
    width: 90%;
  }
  .projects{
    height: 70vh;
  }
}
